<h2>@ViewBag.Tema.Nombre</h2>
<h4>Editar Pregunta</h4>

<form action="/Pregunta/Editar?id=@Model.Id" method="post">
    
    <input type="hidden" name="TemaId" value="@Model.TemaId" />
    
    <div>
        Descripción
        <textarea name="Descripcion">@Model.Descripcion</textarea>
        <span>@ViewBag.DescripcionValicion</span>
        @Html.ValidationMessage("Descripcion")
    </div>
    <button>Guardar</button>
</form>