<h2>Editar Tema</h2>

<form action="/Tema/Editar" method="post">
    <div>
        Tema
        <input name="Nombre" value="@Model.Nombre">
        
        @Html.ValidationMessage("Nombre")
    </div>
    <div>
        Descripción
        <textarea name="Descripcion">@Model.Descripcion</textarea>
        <span>@ViewBag.DescripcionValicion</span>
        @Html.ValidationMessage("Descripcion")
    </div>
    <button>Guardar</button>
</form>